@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:focus {
    animation-name: autofill-fix;
    animation-fill-mode: both;
    animation-duration: 0.01s;

    box-shadow: theme('colors.primary.30') !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:focus,
  .dark textarea:-webkit-autofill,
  .dark textarea:-webkit-autofill:focus,
  .dark select:-webkit-autofill,
  .dark select:-webkit-autofill:focus {
    animation-name: autofill-fix;
    animation-fill-mode: both;
    animation-duration: 0.01s;

    box-shadow: theme('colors.gray.800') !important;
    -webkit-text-fill-color: theme('colors.white') !important;
    color: theme('colors.white') !important;
    caret-color: theme('colors.white') !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  @keyframes autofill-fix {
    0% {}
    100% {}
  }
}