
                        <!-- Konten Evaluate -->
                        <div class="hidden p-6 bg-primary-30 text-medium text-fontdark dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full" id="evaluate" role="tabpanel" aria-labelledby="evaluate-tab">
                            <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-4">Daftar Sub Tahap Evaluate</h3>
                            
                            <div class="mb-6">
                                <p class="text-sm font-medium text-gray-700 mb-2">Progress Tahap Evaluate:</p>
                                <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                                    <div class="bg-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                                </div>
                            </div>
                            
                            <!-- Table Sub Tahap -->
                            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Sub Tahap
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Tanggal Rencana
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Tanggal Realisasi
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Keterangan
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                Evaluasi metodologi
                                            </th>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                Belum Dimulai/Terlambat/Dalam Progress/Selesai
                                            </td>
                                            <td class="px-6 py-4">
                                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                Evaluasi kualitas data
                                            </th>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                Belum Dimulai/Terlambat/Dalam Progress/Selesai
                                            </td>
                                            <td class="px-6 py-4">
                                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-white dark:bg-gray-800">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                Evaluasi pelaksanaan
                                            </th>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                Belum Dimulai/Terlambat/Dalam Progress/Selesai
                                            </td>
                                            <td class="px-6 py-4">
                                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-white dark:bg-gray-800">
                                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                Penyusunan rekomendasi
                                            </th>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                dd/mm/yyyy
                                            </td>
                                            <td class="px-6 py-4">
                                                Belum Dimulai/Terlambat/Dalam Progress/Selesai
                                            </td>
                                            <td class="px-6 py-4">
                                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Tombol Download dan Upload -->
                            <div class="mt-6">
            
                                <label for="upload-evaluation" class="ml-4 cursor-pointer inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
                                    <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                    </svg>
                                    Upload File Evaluasi
                                </label>
                                <input class="hidden" id="upload-evaluation" type="file" multiple />
                                
                                <button id="complete-evaluate" class="ml-4 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                    Selesaikan Tahap Evaluasi
                                    <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                    </svg>
                                </button>
            
                                <button id="complete-survey" class="ml-4 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                                    Survei Telah Selesai Dilaksanakan
                                    <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                    </svg>
                                </button>
                            </div>
                        </div>