<h1 class="text-4xl font-extrabold text-fontdark dark:text-white">Dashboard</h1>
<!-- <h2 class="text-2xl font-normal text-font dark:text-white mb-6">Superadmin</h2> -->
<div class="mt-6">
  <!-- Summary Cards -->
  <div class="grid grid-cols-4 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
    <div class="bg-primary-30 dark:bg-gray-800 rounded-lg p-4 shadow">
      <h2 class="text-black font-medium text-sm">Dalam Proses</h2>
      <p id="berjalanKegiatan" class="text-2xl font-bold text-yellow-700">...</p>
    </div>
    <div class="bg-primary-30 dark:bg-gray-800 rounded-lg p-4 shadow">
      <h2 class="text-black font-medium text-sm">Selesai</h2>
      <p id="selesaiKegiatan" class="text-2xl font-bold text-green-700">...</p>
    </div>
    <div class="bg-primary-30 dark:bg-gray-800 rounded-lg p-4 shadow">
      <h2 class="text-black font-medium text-sm">Terlambat</h2>
      <p id="terlambatKegiatan" class="text-2xl font-bold text-red-700">...</p>
    </div>
    <div class="bg-primary-30 dark:bg-gray-800 rounded-lg p-4 shadow">
      <h2 class="text-black font-medium text-sm">Akan Datang</h2>
      <p id="belumMulaiKegiatan" class="text-2xl font-bold text-gray-700">...</p>
    </div>
  </div>

  <div class="grid grid-col-3 sm:grid-cols-1 lg:grid-cols-3 gap-4">
    <!-- Pie chart: Kegiatan per Program -->
    <div class="col-span-1 sm:col-span-2 bg-primary-30 dark:bg-gray-800 p-4 rounded-xl shadow mb-6">
      <h2 class="text-lg font-semibold mb-2">Kegiatan per Program</h2>
      <div id="chartProgram" class="w-full"></div>
    </div>

    <!-- Line chart: Jumlah Kegiatan per Tahun -->
    <div class="col-span-2 sm:col-span-3 bg-primary-30 dark:bg-gray-800 p-4 rounded-xl shadow mb-6">
      <h2 class="text-lg font-semibold mb-2">Jumlah Kegiatan per Tahun</h2>
      <div id="chartTahun" class="w-full"></div>
    </div>
    
    <!-- Bar chart: Jumlah Kegiatan per Fase -->
    <div class="col-span-2 sm:col-span-3 bg-primary-30 dark:bg-gray-800 p-4 rounded-xl shadow mb-6">
      <h2 class="text-lg font-semibold mb-2">Jumlah Kegiatan per Fase</h2>
      <div id="chartFase" class="w-full"></div>
    </div>

    <!-- Pie chart: Kegiatan per Direktorat -->
    <div class="col-span-1 sm:col-span-2 bg-primary-30 dark:bg-gray-800 p-4 rounded-xl shadow mb-6">
      <h2 class="text-lg font-semibold mb-2">Kegiatan per Direktorat</h2>
      <div id="chartDirektorat" class="w-full"></div>
    </div>

  </div>

<script src="/js/getDashboard.js"></script>
